<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fit4Less | Providing Your Fitness 4 Less!</title>
    <!-- Mobile header color for Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#5352ed">
    <!-- Mobile header color Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#5352ed">
    <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
</head>

<body>
    <section class="nav-section">
        <nav class="navbar sticky-top navbar-expand-lg">
            <a class="navbar-brand pl-5" href="#">
                <img class="logo" src="<%= require('./src/assets/running.png')%>" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto pr-5 text-uppercase">
                    <li class="nav-item">
                        <a class="nav-link home-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link offer-link" href="#offer-section">What We Offer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link classes-link" href="#classes">Classes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bmi-link" href="#bmi">BMI Calculator</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pricing-link" href="#memberships">Pricing</a>
                    </li>
                    <li class="nav-item trainers-link">
                        <a class="nav-link" href="#trainers">Trainers</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <section class="carousel-section mb-5">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active darken-img">
                    <img class="d-block w-100" src="<%= require('./src/assets/bg1.jpg')%>"
                        alt="First slide">
                    <div class="carousel-text text-center">
                        <h1 class="carousel-title">Convenient Fitness Classes</h1>
                        <h6 class="carousel-subtitle text-capitalize">take one of our classes at your convenience</h6>
                    </div>
                </div>
                <div class="carousel-item darken-img">
                    <img class="d-block w-100" src="<%= require('./src/assets/bg2.jpg')%>"
                        alt="Second slide">
                    <div class="carousel-text text-center">
                        <h1 class="carousel-title">Fitness is Life</h1>
                        <h6 class="carousel-subtitle">At Fit4Less we're all about being fit and in shape, for less!</h6>
                    </div>
                </div>
                <div class="carousel-item darken-img">
                    <img class="d-block w-100" src="<%= require('./src/assets/bg3.jpg')%>"
                        alt="Third slide">
                    <div class="carousel-text text-center">
                        <h1 class="carousel-title">Get in Shape!</h1>
                        <h6 class="carousel-subtitle">With Fit4Less by your side, you'll attain your perfect body in no time</h6>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <section class="mt-5 mb-5 what-we-offer-section" id="offer-section">
        <div class="container">
            <div class="title text-center">
                <h1 class="dark-grey-text">What Fit4Less Offers</h1>
                <p>Care, Concern, and Quality Above All</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mt-5 text-center">
                    <img class="img-fluid" src="<%= require('./src/assets/networking.png')%>" alt="parner logo">
                    <h4 class="mt-3 dark-grey-text font-weight-bold">Inclusivity</h4>
                    <p class="offer-description grey-text">No judgements here, ever! Come as you are and exercise as you see fit!</p>
                </div>
                <div class="col-lg-4 col-md-6 mt-5 text-center">
                    <img class="img-fluid" style="height: 128px;" src="<%= require('./src/assets/coach.png')%>" alt="parner logo">
                    <h4 class="mt-3 dark-grey-text font-weight-bold">Encouragement</h4>
                    <p class="offer-description grey-text">Fit4Less is here to provide positivity and encouragement to ensure that you reach your fitness goals.</p>
                </div>
                <div class="col-lg-4 col-md-6 mt-5 text-center">
                    <img class="img-fluid" src="<%= require('./src/assets/laugh.png')%>" alt="parner logo">
                    <h4 class="mt-3 dark-grey-text font-weight-bold">Fun</h4>
                    <p class="offer-description grey-text">We know fitness can seem a little serious at times but Fit4Less makes getting in shape fun! </p>
                </div>
                <div class="col-lg-4 col-md-6 mt-5 text-center">
                    <img class="img-fluid" src="<%= require('./src/assets/slim.png')%>" alt="parner logo">
                    <h4 class="mt-3 dark-grey-text font-weight-bold">Personal Training</h4>
                    <p class="offer-description grey-text">No matter where you are in your fitness journey you'll receive a highly certified personal trainer to
                        achieve your goals</p>
                </div>
                <div class="col-lg-4 col-md-6 mt-5 text-center">
                    <img class="img-fluid" src="<%= require('./src/assets/gym-machine.png')%>" alt="parner logo">
                    <h4 class="mt-3 dark-grey-text font-weight-bold">State-of-the-Art Equipment</h4>
                    <p class="offer-description grey-text">Never worry about whether or not you're using the most advanced gym equipment available because at Fit4Less,
                        you are. </p>
                </div>
                <div class="col-lg-4 col-md-6 mt-5 text-center">
                    <img class="img-fluid" style="height: 128px;" src="<%= require('./src/assets/shoes.png')%>" alt="parner logo">
                    <h4 class="mt-3 font-weight-bold">Group Exercise Classes</h4>
                    <p class="offer-description grey-text">Enjoy a group of fitness classes centered around being convenient, engaging, and effective in helping
                        you reach your goals.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="cta-section mb-5">
        <div class="container-fluid">
            <div class="row cta-row darken-img">
                <div class="text-center text-white col-lg-12">
                    <h6 class="">Book an Appointment</h6>
                    <h1 class="text-capitalize font-weight-bold">get into shape now</h1>
                    <button type="button" class="btn">Book Now</button>
                </div>
            </div>
        </div>
    </section>
    <section class="classes-section" id="classes">
        <div class="container">
            <div class="row d-flex justify-content-center mb-5">
                <div class="title text-center">
                    <h1 class="mx-auto dark-grey-text">Our Most Popular Classes</h1>
                    <p class="text-capitalize grey-text">Come in and take one of our popular classes</p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-4 col-md-6 pb-5 grow">
                    <div class="thumbnail ">
                        <img class="class-img img-fluid" src="<%= require('./src/assets/class-img1.jpeg')%>" alt="class image">
                    </div>
                    <div class="class-status text-capitalize">yoga class - $35</div>
                </div>
                <div class="col-lg-4 grow col-md-6 pb-5">
                    <div class="thumbnail">
                        <img class="class-img img-fluid" src="<%= require('./src/assets/class-img2.jpeg')%>" alt="class image">
                    </div>
                    <div class="class-status text-capitalize">jazzercise class - $25</div>
                </div>
                <div class="col-lg-4 grow col-md-6 pb-5">
                    <div class="thumbnail">
                        <img class="class-img img-fluid" src="<%= require('./src/assets/class-img3.jpeg')%>" alt="class image">
                    </div>
                    <div class="class-status text-capitalize">body strength classes - $25</div>
                </div>
                <div class="col-lg-4 grow col-md-6 pb-5">
                    <div class="thumbnail">
                        <img class="class-img img-fluid" src="<%= require('./src/assets/class-img4.jpeg')%>" alt="class image">
                    </div>
                    <div class="class-status bottom-class-status text-capitalize">rowing classes - $30</div>
                </div>
                <div class="col-lg-4 grow col-md-6 pb-5">
                    <div class="thumbnail">
                        <img class="class-img img-fluid" src="<%= require('./src/assets/class-img5.jpeg')%>" alt="class image">
                    </div>
                    <div class="class-status bottom-class-status text-capitalize">aerobic classes - $30</div>
                </div>
                <div class="col-lg-4 grow col-md-6 pb-5">
                    <div class="thumbnail grow">
                        <img class="class-img img-fluid" src="<%= require('./src/assets/class-img6.jpeg')%>" alt="class image">
                    </div>
                    <div class="class-status bottom-class-status text-capitalize">sweat it out classes - $30</div>
                </div>
            </div>
        </div>
    </section>
    <section class="bmi-section" id="bmi">
        <div class="container bmi-container">
            <div class="row d-flex justify-content-center">
                <div class="title text-center">
                    <h1 class="bmi-title text-capitalize">calculate your body mass index</h1>
                </div>
            </div>
            <div class="row mt-5 justify-content-center align-items-start">
                <div class="col-lg-6 mb-1">
                    <form>
                        <div class="form-group">
                            <input type="input" class="weight-input form-control" aria-describedby="weight" placeholder="Enter Your Weight (LBS)">
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 mb-1">
                    <form>
                        <div class="form-group">
                            <input type="input" class="height-input form-control" aria-describedby="height" placeholder="Enter Your Height (Inches)">
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 mb-1">
                    <form>
                        <div class="form-group">
                            <input readonly type="text" class="form-control bmi-output" aria-describedby="weight" placeholder="Your BMI">
                        </div>
                    </form>
                </div>
                <div class="col-lg-6">
                    <button type="submit" class="text-left font-weight-bold calculate-btn btn">Calculate Your BMI</button>
                </div>
            </div>
        </div>
    </section>
    <section class="mb-5 membership-section" id="memberships">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="title text-center">
                    <h1 class="text-capitalize mb-5  dark-grey-text">membership pricing</h1>
                </div>
            </div>
            <div class="row d-flex mx-auto text-center justify-content-center">
                <div class="col-lg-4 mb-5 grow">
                    <div class="membership-container" style="min-height: 300px; max-width: 450px; margin: auto;">
                        <div class="header">
                            <h4 class="mb-4 pt-4">Basic Membership</h4>
                        </div>
                        <hr>
                        <div>
                            <h3 class="mt-4 mb-4 membership-price font-weight-bold">$15 Monthly</h3>
                        </div>
                        <hr>
                        <div class="body d-flex flex-column">
                            <ul class="mt-4 benefits-ul">
                                <li>Unlimited Access to Our Club</li>
                                <li>Free Wifi Access</li>
                                <li>1 Free Class Session of Your Choice</li>
                                <li>1 Free Personal Training Session</li>
                                <li>5 Free Uses of the Tanning Bed</li>
                            </ul>
                            <button class="btn mx-auto align-self-end mb-4">Standard Value</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5 grow">
                    <div class="membership-container" style="min-height: 300px; max-width: 450px; margin: auto;">
                        <div class="header">
                            <h4 class="mb-4 pt-4">Premium Membership</h4>
                        </div>
                        <hr>
                        <div class="membership-price-container">
                            <h3 class="mt-4 mb-4 membership-price font-weight-bold">$25 Monthly</h3>
                        </div>
                        <hr>
                        <div class="body d-flex flex-column">
                            <ul class="mt-4 benefits-ul">
                                <li>All Benefits of the Basic Membership</li>
                                <li>Access to a Custom Workout App</li>
                                <li>5 Free Personal Training Sessions</li>
                                <li>Personalized Workout Plans</li>
                                <li>Access to the Swimming Pool</li>
                            </ul>
                            <button class="btn mx-auto align-self-end mb-4">Great Value</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 grow">
                    <div class="membership-container" style="min-height: 300px; max-width: 450px; margin: auto;">
                        <div class="header">
                            <h4 class="mb-4 pt-4">Ultimate membership</h4>
                        </div>
                        <hr>
                        <div class="membership-price-container">
                            <h3 class="mt-4 mb-4 membership-price font-weight-bold">$35 Monthly</h3>
                        </div>
                        <hr>
                        <div class="d-flex flex-column body">
                            <ul class="mt-4 benefits-ul">
                                <li>All Benefits of the Premium Membership</li>
                                <li>Free Personalized Fitness Plan</li>
                                <li>Extended Before and After Hours</li>
                                <li>Bring a Guest Anytime</li>
                                <li>Free Access to All Classes</li>
                            </ul>
                            <button class="btn mx-auto mb-4">Best Value!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="trainer-section" id="trainers">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="title text-center">
                    <h1 class="pt-5 trainer-heading text-capitalize  dark-grey-text">our experienced trainers</h1>
                    <p class="mb-5 mx-auto trainer-subtitle text-capitalize grey-text">choose from one of our highly knowledgeable trainers to help your fitness dreams come true</p>
                </div>
            </div>

        </div>
        <div class="outer-trainer-container pt-5">
            <div class="container">
                <div class="row pb-5 trainer-container">
                    <div class="col-lg-6 mb-5">
                        <img class="trainer-img grow img-fluid" src="<%= require('./src/assets/trainer-photo1.jpeg')%>" alt="class image">
                        <h4 class="mt-2 dark-grey-text font-weight-bold">Eric Michaels</h4>
                        <p class="grey-text">Weight Training Instructor</p>
                    </div>
                    <div class="col-lg-6 mb-5">
                        <img class="trainer-img grow img-fluid" src="<%= require('./src/assets/trainer-photo2.jpeg')%>" alt="class image">
                        <h4 class="mt-2 dark-grey-text font-weight-bold">Julio Dominguez</h4>
                        <p class="grey-text">Boxing Instructor</p>
                    </div>
                    <div class="col-lg-6 mb-5">
                        <img class="trainer-img grow img-fluid" src="<%= require('./src/assets/trainer-photo3.jpeg')%>" alt="class image">
                        <h4 class="mt-2 dark-grey-text font-weight-bold">Samantha Andrews</h4>
                        <p class="grey-text">Body Weight Trainer</p>
                    </div>
                    <div class="col-lg-6">
                        <img class="trainer-img grow img-fluid" src="<%= require('./src/assets/trainer-photo4.jpeg')%>" alt="class image">
                        <h4 class="mt-2 dark-grey-text font-weight-bold">Samuel Daniels</h4>
                        <p class="grey-text">Cross Training Instructor</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cta-section2 mt-5 mb-5">
        <div class="container-fluid">
            <div class="row cta-row2 darken-img">
                <div class="text-center text-white col-lg-12">
                    <h1 class="mb-4 font-weight-bold">Join Us Today!</h1>
                    <button type="button" class="btn">Become a Member</button>
                </div>
            </div>
        </div>
    </section>
    <section class="partnership-section mt-5 mb-5 pt-5 pb-5">
        <div class="container">
            <div class="row mt-5 d-flex justify-content-center">
                <div class="title text-center">
                    <h1 class="mb-5 text-capitalize dark-grey-text">our featured partners</h1>
                </div>
            </div>
            <div class="partner-img-container row mb-5 d-flex justify-content-center flex-wrap">
                <a class="col" href="">
                    <img class="img-fluid partner-img" src="<%= require('./src/assets/partner-logo1.png')%>" alt="parner logo">
                </a>
                <a class="col" href="">
                    <img class="img-fluid" src="<%= require('./src/assets/partner-logo4.png')%>" alt="parner logo">
                </a>
                <a class="col" href="">
                    <img class="img-fluid" src="<%= require('./src/assets/partner-logo3.png')%>" alt="parner logo">
                </a>
                <a class="col" href="">
                    <img class="img-fluid" src="<%= require('./src/assets/partner-logo2.png')%>" alt="parner logo">
                </a>
                <a class="col" href="">
                    <img class="img-fluid" src="<%= require('./src/assets/partner-logo5.png')%>" alt="parner logo">
                </a>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col text-center mb-5">
                    <img class="pt-5 footer-logo" src="<%= require('./src/assets/running.png')%>" alt="logo">
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="col-lg-3">
                    <div class="footer-column mb-4">
                        <h4 class="font-weight-bold">Contact Us</h4>
                        <p>
                            4570 Hewes Avenue
                            <br> Bel Air, MD 21014
                            <br> 443-675-8524
                            <br>getfit@fit4less.com
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-column mb-4">
                        <h4 class="font-weight-bold">About Us</h4>
                        <p>Fit4Less is a local gym centered around helping you to achieve your fitness goals through our equipment,
                            amenities and support</p>
                    </div>
                </div>
                <div class="col-lg-4" style="display: inline-block !important;">
                    <div class="footer-column" style="display: inline-block !important;">
                        <h4 class="font-weight-bold">Newsletter</h4>
                        <p>Sign up here to subscribe to our newsletter. No spam, ever!</p>
                        <form class="form-inline">
                            <label class="sr-only" for="inlineFormInputName2">Email</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Email Address">
                            <button type="email" class="btn btn-primary mb-2">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <div class="text-center">
                        <ul class="d-flex justify-content-center">
                            <li class="mr-4">
                                <a target="_blank" href="https://facebook.com/">
                                    <img class="grow social-media-logo" src="<%= require('./src/assets/facebook.png')%>" alt="social media logo">
                                </a>
                            </li>
                            <li class="mr-4">
                                <a target="_blank" href="https://instagram.com/">
                                    <img class="grow social-media-logo" src="<%= require('./src/assets/instagram.png')%>" alt="social media logo">
                                </a>
                            </li>
                            <li class="mr-4">
                                <a target="_blank" href="https://twitter.com/">
                                    <img class="grow social-media-logo" src="<%= require('./src/assets/twitter.png')%>" alt="social media logo">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://youtube.com/">
                                    <img class="grow social-media-logo" src="<%= require('./src/assets/youtube.png')%>" alt="social media logo">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-center mt-5">&copy; 2019 Copyrighted by Fit4Less</p>
                </div>
            </div>
        </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>