@import "./global";

.bmi-section{
   background: #5D32D6;
   padding: 5em;
}

.bmi-title{
    color: #fff;
}

.calculate-btn{
    background: #fff;
    color: $main-blue;
    padding: .375em 1em;
    border-radius: 15px;
}