@import "./global";

.bmi-section{
   background: $main-color;
   padding: 2.6em;

   @media screen and (min-width: 992px){
       padding: 9em;
   }
}

.bmi-title{
    color: #fff;
}

.calculate-btn{
    background: #fff;
    color: $main-blue !important;
    padding: .375em 1em;
    border-radius: 15px;
}