@import "./global";

.thumbnail{
    position: relative;
}

.class-status{
    position: absolute;
    bottom: 65px;
    left: 25px;
    color: #fff;
    background: $main-blue;
    padding: 12px 18px;
}

.class-text{
    margin-top: 3px;
}

.class-img{
    box-shadow: 0px 6px 17px -6px rgba(0,0,0,0.22);
}

