@import "./global";

.footer{
    margin-top: 4em;
    padding-top: 2rem;
    background: $main-color;
    color: #fff;

     @media only screen and (max-width: 576px) {
        padding: 1.7em;
    }  

    @media only screen and (max-width: 400px) {
        padding: .5em;
    } 

    &-logo{
        width: 130px; 

        @media only screen and (max-width: 400px) {
            width: 110px;
        }
    }
}

.social-media-logo{
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}