// base color variables
$main-color: #224A82;
$main-blue: #2c75d2;
body{
    font-family: 'Roboto', sans-serif !important;
    background-color: #eaf0f7;
}

.container{
    @media screen and (min-width: 1500px) {
        max-width: 1500px !important;
        
    }
}

li{
    list-style: none;
}

h1{
    @media screen and (max-width: 775px){
        font-size: 2.5em;
    }

    @media screen and (max-width: 420px){
        font-size: 2em;
    }
}

.btn{  
  border: 2px solid currentColor;
  border-radius: 19px;
  color: #eaf0f7;
  font-family: roboto;
  font-weight: 100;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;

  &::after{
    background-color: #eaf0f7;
    border-radius: 19px;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .2s; 
    transform: ease-out;
    will-change: transform;
    z-index: -1;
  }
  &:hover::after{
    transform: translate(0, 0);
  } 
  &:hover{
    border: 2px solid transparent;
    color: $main-blue;
    transform: scale(1.05);
    will-change: transform;
  }
}

// stylings to darken the call to action and carousel images
.darken-img{
    position: relative;
}

.darken-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
}

// global grey text styling
.grey-text{
    color: #777777;
}

.dark-grey-text{
    color: #333333;
}
