@import "./global";

.membership-section{
    margin-top: 6em !important;
}

ul{
    padding: 0;
}

.benefits-ul li{
    list-style: none;
    padding-bottom: 1.8em;
    color: #777777;
}

.membership-price{
    color: $main-blue;
    font-size: 2.5em !important;
}

.membership-container{
    box-shadow: 0px 6px 35px -8px rgba(0,0,0,0.1);
    min-height: 548.984px !important;
}