@import "./global";

.nav-section{
  background: $main-color;
}

.nav-item{
  font-size: 1.2em;
  margin-left: 2.5rem !important;
  position: relative;
}

.nav-link{
  color: #fff !important;
  font-weight: 400;
  font-size: .8em;
}

.nav-link:hover{
  color: #4996fc !important;
}

.nav-link::before{
  content: '';
  display: block;
  height: 5px;
  background-color: #fff;
  position: absolute;
  top: 0 !important;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.nav-link:hover::before{
  width: 87%;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(44, 117, 210)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logo{
  width: 90px;
  @media only screen and (max-width: 576px) {
      width: 60px !important;
  }
  
  @media only screen and (max-width: 375px) {
      width: 45px !important;
  }
}

