.cta-row2{
    background: url("https://images.pexels.com/photos/703014/pexels-photo-703014.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") !important;
    padding: 10em;
    background-size: cover;
}