.table{
    width: 50% !important;
    margin: 0 auto;
}

.table th{
    padding: 1.45em;
}

.table td{
    padding: 1.45em;
}

// .table-responsive{
//     display: flex !important;
// }

thead{
    
}